@charset "UTF-8";

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format('embedded-opentype'), url("../fonts/icons.woff") format('woff'), url("../fonts/icons.ttf") format('truetype'), url("../fonts/icons.svg#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.print-icon a, 
.email-icon a, 
.edit-icon a {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  margin-left: -1em;
  text-align: center;
  opacity: 0.7;
}

ul.menu [class^="icon-"]:before,
ul.menu [class*=" icon-"]:before {
	padding-left: 1em;
}

ul.menu ul a[class^="icon-"]:before,
ul.menu ul a[class*=" icon-"]:before {
	padding-left: 1em;
	padding-right: 0.2em;
}
ul.menu [class^="icon-"],
ul.menu [class*=" icon-"] {
	border-bottom: none;
}

[class^="icon-"],
[class*=" icon-"] {
	padding-left: 1em;
	word-wrap: normal;
}


.icon-plus-1:before { content: '\e803'; } /* '' */
.icon-at:before { content: '\40'; } /* '@' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-th-list:before { content: '\2630'; } /* '☰' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-music-1:before { content: '\e80b'; } /* '' */
.icon-th:before { content: '\268f'; } /* '⚏' */
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-cog-1:before { content: '\e801'; } /* '' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-ok-1:before { content: '\e800'; } /* '' */
.icon-cancel-1:before { content: '\e802'; } /* '' */
.icon-help:before { content: '\2753'; } /* '❓' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-th-large:before { content: '\e708'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-print:before { content: '\e716'; } /* '' */
.icon-comment-1:before { content: '\e809'; } /* '' */
.icon-chat-1:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-map:before { content: '\e727'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-basket:before { content: '\e73d'; } /* '' */
.icon-popup:before { content: '\e74c'; } /* '' */
.icon-zoom-in:before { content: '\e750'; } /* '' */
.icon-zoom-out:before { content: '\e751'; } /* '' */
.icon-arrows-cw:before { content: '\e760'; } /* '' */
.icon-signal:before { content: '\e770'; } /* '' */
.icon-lifebuoy:before { content: '\e788'; } /* '' */
.icon-equalizer:before { content: '\e795'; } /* '' */
.icon-chart-pie:before { content: '\e7a2'; } /* '' */
.icon-easel:before { content: '\e7b5'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-vimeo-rect:before { content: '\f30e'; } /* '' */
.icon-globe:before { content: '𝌍'; } /* '\1d30d' */
.icon-picture-1:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-videocam:before { content: '🎥'; } /* '\1f3a5' */
.icon-video:before { content: '🎬'; } /* '\1f3ac' */
.icon-award-1:before { content: '\e80a'; } /* '' */
.icon-award:before { content: '🏉'; } /* '\1f3c9' */
.icon-thumbs-up-1:before { content: '\e805'; } /* '' */
.icon-thumbs-down-1:before { content: '\e806'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-users:before { content: '👥'; } /* '\1f465' */
.icon-lamp:before { content: '💡'; } /* '\1f4a1' */
.icon-monitor:before { content: '💻'; } /* '\1f4bb' */
.icon-folder:before { content: '📁'; } /* '\1f4c1' */
.icon-doc:before { content: '📄'; } /* '\1f4c4' */
.icon-calendar:before { content: '📅'; } /* '\1f4c5' */
.icon-chart:before { content: '📈'; } /* '\1f4c8' */
.icon-chart-bar:before { content: '📊'; } /* '\1f4ca' */
.icon-attach:before { content: '📎'; } /* '\1f4ce' */
.icon-book-open:before { content: '📖'; } /* '\1f4d6' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-upload:before { content: '📤'; } /* '\1f4e4' */
.icon-download:before { content: '📥'; } /* '\1f4e5' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */
.icon-volume-up:before { content: '🔊'; } /* '\1f50a' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-key:before { content: '🔑'; } /* '\1f511' */
.icon-lock:before { content: '🔒'; } /* '\1f512' */
.icon-lock-open:before { content: '🔓'; } /* '\1f513' */
.icon-bell:before { content: '🔔'; } /* '\1f514' */
.icon-link:before { content: '🔗'; } /* '\1f517' */
.icon-clock:before { content: '🕔'; } /* '\1f554' */
.icon-block:before { content: '🚫'; } /* '\1f6ab' */



.print-icon a:before, .email-icon a:before, .edit-icon a:before {font-size: 20px;}
.print-icon a:before { content: '\e716'; } /* '' */
.email-icon a:before { content: '\2709'; } /* '✉' */
.edit-icon a:before { content: '\270d'; } /* '✍' */
